body {
  font-family: 'Arial', sans-serif;
  background-color: #F4F4F4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.combined-profile-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.App-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile, .about {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile h1, .about h3 {
  font-size: 24px;
  color: #333;
  margin-top: 0;
}

.about h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
