/* - Section */
@import '@fortawesome/fontawesome-free/css/all.css';

.section .titles .subtitle {
	font-size: 14px;
	line-height: 1.2;
	color: #0c042b;
	font-weight: 600;
	text-transform: uppercase;
	margin-inline-start: 45%;

}

.info-list {
	margin-inline-start: 45%;
	color: #ffffff;

}

.info-list ul li strong {
	display: inline-block;
	vertical-align: top;
	width: 90px;
	font-weight: 600;
	text-transform: uppercase;
	color: #0c042b;
}

.single-post-text {
	margin-inline-start: 45%;
	color: #ffffff;
	/* Ajusta el valor según sea necesario */
}


.service-items {
	margin: 0 -10px;
	/* Ajusta el valor según sea necesario */
	display: flex;
	flex-wrap: wrap;
}

.service-items .service-col {
	margin-bottom: 20px;
	/* Ajusta el valor según sea necesario */
	padding: 0 10px;
	/* Ajusta el valor según sea necesario */
	flex: 1 0 50%;
	/* Divide en dos columnas */
}


.service-item .icon {
	margin-bottom: 10px;
	/* Ajusta el valor según sea necesario */
	font-size: 32px;
	block-size: 32px;
	color: #0c042b;
	margin-inline-start: 45%;
}

.service-item .name {
	margin: 0;
	/* Ajusta el valor según sea necesario */
	font-size: 18px;
	color: #FFF;
	font-weight: 800;
	margin-inline-start: 45%;

}


@media (max-inline-size: 720px) {
	.info-list ul li {
		inline-size: 100%;
	}


	.info-list ul li strong {
		margin-inline-end: 15px;
		inline-size: auto;
	}

}

/* ... (otros estilos) */



/* ... (otros estilos) */