#about.main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura que todos los elementos estén centrados horizontalmente */
    width: 80%; /* o un porcentaje específico según tu diseño */
    max-width: 960px; /* Ajusta según el ancho máximo deseado */
    margin: auto; /* Centra el contenedor en la página */
    padding-top: 5%; /* Espacio en la parte superior */
}
.title {
    margin-left: auto;
    right: 20px;
}
.subtitle {
    font-size: 1rem;
    /* Usando rem para un tamaño de fuente más consistente */
    line-height: 1.4;
    /* Aumentando un poco para mejorar la legibilidad */
    font-weight: 700;
    /* Ajustando a un valor que es comúnmente soportado por la mayoría de las fuentes */
    color: #041330;
    /* Manteniendo el color por su buen contraste */
    word-break: break-word;
    /* Útil para evitar desbordamientos */
    border-radius: 10px;
    /* Ajustado para un efecto visual aplicable a contenedores */
    padding: 0.5em 1em;
    /* Añadido para dar espacio alrededor del texto */
    display: inline-block;
    /* Para permitir el padding y border-radius */
    background-color: #e0e0e0;
    /* Fondo claro para contrastar con el texto oscuro */
    margin: 0.5em;
    /* Espacio alrededor de cada etiqueta para evitar que se toquen */

}

.h-text {
    color: white;
    /* Cambia el color del texto a blanco */
    text-align: left;
    /* Alineación a la izquierda para pantallas grandes */
}

 .icon {
	margin-bottom: 10px;
	/* Ajusta el valor según sea necesario */
	font-size: 32px;
	block-size: 32px;
	color: #0c042b;
	margin-inline-start: 45%;
}

@media (max-width: 1199px) {
    .about {
        text-align: center;
    }

    .subtitle {
        font-size: 1rem;
        color: var(--color-subtitle);
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 45%;
        /* Simplificado para consistencia */
    }

    .h-text {
        /* Asegura que .h-text esté al centro en dispositivos menores a 1199px */
        text-align: center;
    }
}

@media (max-width: 720px) {
    .about {
        text-align: center;
    }

    .subtitle {
        font-size: 1rem;
        /* Usando rem para un tamaño de fuente más consistente */
        line-height: 1.4;
        /* Aumentando un poco para mejorar la legibilidad */
        font-weight: 700;
        /* Ajustando a un valor que es comúnmente soportado por la mayoría de las fuentes */
        color: #041330;
        /* Manteniendo el color por su buen contraste */
        word-break: break-word;
        /* Útil para evitar desbordamientos */
        border-radius: 10px;
        /* Ajustado para un efecto visual aplicable a contenedores */
        padding: 0.5em 1em;
        /* Añadido para dar espacio alrededor del texto */
        display: inline-block;
        /* Para permitir el padding y border-radius */
        background-color: #e0e0e0;
        /* Fondo claro para contrastar con el texto oscuro */
        margin: 0.5em;
        /* Espacio alrededor de cada etiqueta para evitar que se toquen */

    }

    /* Ajustes adicionales para vistas más pequeñas si son necesarios */
    .titles,
    .title,
    .subtitle {
        margin-top: 10px;
        /* Ajusta el margen superior para dispositivos pequeños */
    }

    .h-text {
        /* Ajustes específicos para el texto en dispositivos pequeños */
        text-align: center;
        /* Centra el texto en dispositivos muy pequeños */
    }
}