/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 265px;
}

form label,
form input,
form textarea,
form button {
    display: block;
    margin-bottom: 15px;
    /* Espacio entre elementos */
}

form input,
form textarea {
    width: 160px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-right: 10px;
}

form button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Specific Styles for Textarea */
textarea {
    height: 50px;
    width: 350px !important;
}

/* Button Container Styles */
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Contact Info Styles */
.contact-info {
    background: #a7a6a69f;
    padding: 20px;
    border-radius: 16px;
    margin-left: 265px;
    border-left-width: 30px;
    text-align: start;
    /* Centra el texto dentro del contenedor */

}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

/* Modal Styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Grid Layout */
.grid-cols-1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* Reglas @media para dispositivos con ancho máximo de 1199px */
@media (max-width: 1199px) {
    form {
        width: 100%;
        /* Asegura que ocupe todo el ancho del contenedor */
        max-width: 600px;
        /* Ancho máximo para el formulario */
        margin: auto
    }

    .contact-info {
        margin: auto;
        text-align: center;
        /* Centra el texto dentro del contenedor */
    }
}

@media (max-width: 720px) {}