/* Variables CSS para colores y tamaños comunes */
:root {
    --color-title: #ffffff;
    --color-subtitle: #0c042b;
}

.section {
    position: relative;
    overflow: hidden;
    padding-inline-start: 6%;
    padding-inline-end: 3%;
    padding-block-start: 130px;
}

.title {
    max-inline-size: 70%;
    font-size: 55px;
    line-height: 1.2;
    color: var(--color-title);
    font-weight: 800;
}

.subtitle {
    font-size: 1rem;
    line-height: 3.2;
    color: var(--color-subtitle);
    font-weight: 600;
    text-transform: uppercase;
}

/* Regla @media para dispositivos con ancho máximo de 1199px */
@media (max-width: 1199px) {
    .title {
        margin-left: 20vw; /* Ajusta según sea necesario para el diseño responsivo */
        font-size: 45px; /* Ajusta el tamaño de fuente para dispositivos más pequeños */
    }
    .subtitle {
        /* Si necesitas ajustes para el subtítulo aquí */
    }
}

/* Considera agregar más reglas @media para tamaños de pantalla más pequeños */
@media (max-width: 768px) {
    .title {
        font-size: 35px; /* Más ajustes para pantallas aún más pequeñas */
        margin-left: 10vw;
    }
    .subtitle {
        font-size: 12px;
    }
}
