/* Variables CSS para colores y tamaños comunes */
:root {
    --color-title: #ffffff;
    --color-subtitle: #0c042b;
}

.title {
    line-height: 1.2;
    color: var(--color-title);
    font-weight: 800;
}

.subtitle {
    font-size: 1rem;
    line-height: 3.2;
    color: var(--color-subtitle);
    font-weight: 600;
    text-transform: uppercase;
}

/* Regla @media para dispositivos con ancho máximo de 1199px */
@media (max-width: 1199px) {
    .title {
        font-size: 45px; /* Ajusta el tamaño de fuente para dispositivos más pequeños */
    }
}

/* Considera agregar más reglas @media para tamaños de pantalla más pequeños */
@media (max-width: 768px) {
    .title {
        font-size: 35px; /* Más ajustes para pantallas aún más pequeñas */
    }
    .subtitle {
        font-size: 12px;
    }
}
