/* - Resume */

/* Consolidación de estilos para títulos */

#resume .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 88%;
    max-width: 967px;
    margin: auto;
}

.title {
    font: size 10px;
    ;
}

#resume .title-right-shift,
#resume .title-right {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px
}

.service-col {
    flex: 1 1 45%;

}
.subtitle-container,
.subtitle {
    margin-bottom: 20px;
    margin-top: 20px
}


.date {
    font-size: 11px;
    color: #fff;
    width: 52px;
    height: 32px;
    font-weight: 600;
    transform-origin: bottom left;
    transform: rotate(90deg);
    display: flex;
}

#resume .name {
    margin-left: 28px;
    margin-bottom: 43px;
    height: 34.4px;
    text-align: center;
    width: 224px;
}

#resume .service-items {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    padding-left: 405px;
    margin-left: 20px;
}

.resume-item .name {
    display: flex;
    color: #FFF;
    font-weight: 800;
}

/* Reglas @media para dispositivos con ancho máximo de 1199px */
@media (max-width: 1199px) {
    
    .profile-section {
        padding: 0;
        /* Ajusta el padding para evitar desbordamientos */
        height: auto;
        /* Cambia a auto para adaptarse al contenido */
    }

    #resume .main-container {

        padding-top: 5%;
        /* Espacio en la parte superior */
    }

    .profile-title {
        margin: 0 auto;
        /* Centra el título */
        font-size: 4rem;
        /* Ajusta el tamaño de la fuente según la necesidad */
        text-align: center;
        padding-top: 22%
    }

    #resume .title-right-shift,
    #resume .title-right {
        margin: auto;
    }

    .profile-content {
        padding-left: 0;
        /* Elimina el desplazamiento a la derecha */
        align-items: center;
        /* Centra los elementos */
        text-align: center;
    }
    .service{
        margin-left: 70px
    }

    #resume .service-items {
        display: revert;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 20px;
        padding:0%;
        margin:auto;
    }
    
}

@media (max-width: 720px) {
    .resume-item .date {
        position: relative;
        inset-inline-start: 0;
        inset-block-start: 0;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
    }


    .resume-item .name {
        margin-inline-start: 0;
    }

}