/* - Section */
@import '@fortawesome/fontawesome-free/css/all.css';

.section {
	position: relative;
	overflow: hidden;
	padding-inline-start: 6%;
	padding-inline-end: 3%;
	padding-block-start: 130px;
	padding-block-end: 123px;
	z-index: 12;
}

.section .titles .title {
	margin-block-end: 10px;
	max-inline-size: 70%;
	font-size: 55px;
	line-height: 1.2;
	color: #ffffff;
	font-weight: 800;
	margin: 0 0 0 40vw;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.section .titles .subtitle {
	font-size: 14px;
	line-height: 1.2;
	color: #0c042b;
	font-weight: 600;
	text-transform: uppercase;
	margin-inline-start: 45%;

}

.info-list {
	margin-inline-start: 45%;
	color: #ffffff;

}

.info-list ul li strong {
	display: inline-block;
	vertical-align: top;
	width: 90px;
	font-weight: 600;
	text-transform: uppercase;
	color: #0c042b;
}

.single-post-text {
	margin-inline-start: 45%;
	color: #ffffff;
	/* Ajusta el valor según sea necesario */
}


.service-items {
	margin: 0 -10px;
	/* Ajusta el valor según sea necesario */
	display: flex;
	flex-wrap: wrap;
}

.service-items .service-col {
	margin-bottom: 20px;
	/* Ajusta el valor según sea necesario */
	padding: 0 10px;
	/* Ajusta el valor según sea necesario */
	flex: 1 0 50%;
	/* Divide en dos columnas */
}


.service-item .icon {
	margin-bottom: 10px;
	/* Ajusta el valor según sea necesario */
	font-size: 32px;
	block-size: 32px;
	color: #68e0cf;
	margin-inline-start: 45%;
}

.service-item .name {
	margin: 0;
	/* Ajusta el valor según sea necesario */
	font-size: 18px;
	color: #FFF;
	font-weight: 800;
	margin-inline-start: 45%;



}




@media (max-inline-size: 720px) {
	.info-list ul li {
		inline-size: 100%;
	}


	.info-list ul li strong {
		margin-inline-end: 15px;
		inline-size: auto;
	}

}

/* ... (otros estilos) */



/* ... (otros estilos) */